header{
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.logoPokemon{
  width: 50%;
}
.container__social{
  display: flex;
  gap: 1rem;
}
.container__social a{
  width: 200px;
  display: flex;
  align-items: center;
}
.logoGithub{
  width: 100%;
}
.logoInstagram{
  width: 100%;
}
.logoTiktok{
  width: 100%;
}
.logoTwitter{
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .logoPokemon{
    width: 20%;
  }
  .container__social a{
    width: 70px;
  }
}
